#links {
    font-size: 3vh;
    padding: 2vh;
}

#linksEs {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: black;
    height: 8vh;
    font-style: italic;
    color: white;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: flex-end;
}

.logo {
    font-size: 2vh;
    padding: 1vh;
    font-family: "Anton", sans-serif;
    font-weight: 400px;
    font-style: normal;
}

body {
    background-image: radial-gradient(#470964, #6d00d9);
    height: 100vh;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.imagem {
    width: 35%;
    position: absolute;
    top: 35%;
    left: 25%;
    transform: rotate(-30deg)
}


#carro {
    color: white;
    position: absolute;
    top: 25%;
    left: 65%;
    font-family: "Agbalumo", system-ui;
    font-size: 10vh;
    font-style: normal;
}

#texto {
    position: absolute;
    top: 45%;
    left: 55%;
    font-style: italic;
    color: white;
    text-align: left;
}