* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: radial-gradient(#470964, #6d00d9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  background-color: #222;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.link {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.link li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link li a:hover {
  color: #007bff;
}

.logo {
    font-size: 2vh;
    padding: 1vh;
    font-family: "Anton", sans-serif;
    font-weight: 400px;
    font-style: normal;
}

body {
    background-image: radial-gradient(#470964, #6d00d9);
    height: 100vh;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.imagem {
    width: 35%;
    position: absolute;
    top: 35%;
    left: 25%;
    transform: rotate(-30deg)
}


#carro {
    color: white;
    position: absolute;
    top: 25%;
    left: 65%;
    font-family: "Agbalumo", system-ui;
    font-size: 10vh;
    font-style: normal;
}

#texto {
    position: absolute;
    top: 45%;
    left: 55%;
    font-style: italic;
    color: white;
    text-align: left;
}


#links{
    font-size: 30px;
}